-- MySQL dump 10.13  Distrib 9.5.0, for Win64 (x86_64)
--
-- Host: localhost    Database: dancetrackerdb
-- ------------------------------------------------------
-- Server version	9.5.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;

--
-- GTID state at the beginning of the backup 
--

SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ 'bef32ced-c19e-11f0-88be-109819ee1c3b:1-982';

--
-- Table structure for table `academy_income`
--

DROP TABLE IF EXISTS `academy_income`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `academy_income` (
  `id` int NOT NULL AUTO_INCREMENT,
  `class_date` date NOT NULL,
  `day_name` varchar(10) NOT NULL,
  `slot_no` tinyint NOT NULL,
  `from_time` time NOT NULL,
  `to_time` time NOT NULL,
  `hours` decimal(5,2) NOT NULL,
  `rate` decimal(10,2) NOT NULL,
  `line_total` decimal(10,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_academy_income` (`class_date`,`day_name`,`slot_no`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academy_income`
--

LOCK TABLES `academy_income` WRITE;
/*!40000 ALTER TABLE `academy_income` DISABLE KEYS */;
/*!40000 ALTER TABLE `academy_income` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `academy_schedule`
--

DROP TABLE IF EXISTS `academy_schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `academy_schedule` (
  `id` int NOT NULL AUTO_INCREMENT,
  `day_name` varchar(10) NOT NULL,
  `slot_no` tinyint NOT NULL,
  `from_time` time NOT NULL,
  `to_time` time NOT NULL,
  `is_active` tinyint NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_day_slot` (`day_name`,`slot_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academy_schedule`
--

LOCK TABLES `academy_schedule` WRITE;
/*!40000 ALTER TABLE `academy_schedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `academy_schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accessory`
--

DROP TABLE IF EXISTS `accessory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accessory` (
  `accessory_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`accessory_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accessory`
--

LOCK TABLES `accessory` WRITE;
/*!40000 ALTER TABLE `accessory` DISABLE KEYS */;
INSERT INTO `accessory` VALUES (1,'ankle pads');
/*!40000 ALTER TABLE `accessory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance`
--

DROP TABLE IF EXISTS `attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance` (
  `attendance_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `course_id` int NOT NULL,
  `branch_id` int NOT NULL,
  `teacher_id` int NOT NULL,
  `class_date` date NOT NULL,
  `day` varchar(10) NOT NULL,
  `status` char(1) NOT NULL DEFAULT 'A',
  `comment` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`attendance_id`),
  UNIQUE KEY `uq_att` (`student_id`,`course_id`,`branch_id`,`teacher_id`,`class_date`),
  KEY `course_id` (`course_id`),
  KEY `branch_id` (`branch_id`),
  KEY `teacher_id` (`teacher_id`),
  CONSTRAINT `attendance_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`),
  CONSTRAINT `attendance_ibfk_2` FOREIGN KEY (`course_id`) REFERENCES `course` (`course_id`),
  CONSTRAINT `attendance_ibfk_4` FOREIGN KEY (`branch_id`) REFERENCES `branch` (`branch_id`),
  CONSTRAINT `attendance_ibfk_5` FOREIGN KEY (`teacher_id`) REFERENCES `teacher` (`teacher_id`)
) ENGINE=InnoDB AUTO_INCREMENT=205 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance`
--

LOCK TABLES `attendance` WRITE;
/*!40000 ALTER TABLE `attendance` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `batch`
--

DROP TABLE IF EXISTS `batch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `batch` (
  `batch_id` int NOT NULL AUTO_INCREMENT,
  `batch_name` varchar(100) DEFAULT NULL,
  `course_id` int DEFAULT NULL,
  PRIMARY KEY (`batch_id`),
  KEY `course_id` (`course_id`),
  CONSTRAINT `batch_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `course` (`course_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `batch`
--

LOCK TABLES `batch` WRITE;
/*!40000 ALTER TABLE `batch` DISABLE KEYS */;
INSERT INTO `batch` VALUES (1,'blah blah',1);
/*!40000 ALTER TABLE `batch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `branch`
--

DROP TABLE IF EXISTS `branch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `branch` (
  `branch_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) DEFAULT NULL,
  `location` varchar(100) DEFAULT NULL,
  `address` varchar(200) DEFAULT NULL,
  `phone` varchar(15) DEFAULT NULL,
  PRIMARY KEY (`branch_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `branch`
--

LOCK TABLES `branch` WRITE;
/*!40000 ALTER TABLE `branch` DISABLE KEYS */;
INSERT INTO `branch` VALUES (1,'Home Classes','Home','207 rivington street','9083678272'),(2,'Online Classes','Online','207 rivington street','9083678272'),(3,'Temple Classes','Temple','207 rivington street','9083678272'),(4,'Archana Arts Academy','4 railroad somerset','08830','9083678272');
/*!40000 ALTER TABLE `branch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `branch_rate`
--

DROP TABLE IF EXISTS `branch_rate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `branch_rate` (
  `branch_id` int NOT NULL,
  `rate` decimal(10,2) NOT NULL,
  PRIMARY KEY (`branch_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `branch_rate`
--

LOCK TABLES `branch_rate` WRITE;
/*!40000 ALTER TABLE `branch_rate` DISABLE KEYS */;
INSERT INTO `branch_rate` VALUES (1,15.00),(2,20.00),(3,15.00),(4,30.00);
/*!40000 ALTER TABLE `branch_rate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course`
--

DROP TABLE IF EXISTS `course`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `course` (
  `course_id` int NOT NULL AUTO_INCREMENT,
  `course_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`course_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course`
--

LOCK TABLES `course` WRITE;
/*!40000 ALTER TABLE `course` DISABLE KEYS */;
INSERT INTO `course` VALUES (1,'parichay'),(2,'Prarambhik'),(3,'Elementary'),(4,'Intermediate'),(5,'Pre-Diploma'),(6,'Elementary - Choreography'),(7,'BA 1'),(8,'BA 2'),(9,'Intermediate - Choreography'),(10,'Bhagya');
/*!40000 ALTER TABLE `course` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `elementary`
--

DROP TABLE IF EXISTS `elementary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `elementary` (
  `topic_id` int NOT NULL AUTO_INCREMENT,
  `topic_name` varchar(100) DEFAULT NULL,
  `topic_order` int DEFAULT NULL,
  PRIMARY KEY (`topic_id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `elementary`
--

LOCK TABLES `elementary` WRITE;
/*!40000 ALTER TABLE `elementary` DISABLE KEYS */;
INSERT INTO `elementary` VALUES (1,'Tatkar',1),(2,'Baant',2),(3,'Namaskar Toda',3),(4,'Thaat',4),(5,'Aamad',5),(6,'Simple Todas',6),(7,'Chakradaar Todas',7),(8,'Parans',8),(9,'Dadra Taal',9),(10,'Kerwa Taal',10),(11,'Gat Nikas',11),(12,'Song',12);
/*!40000 ALTER TABLE `elementary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `elementary_subtopic`
--

DROP TABLE IF EXISTS `elementary_subtopic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `elementary_subtopic` (
  `topic_id` int NOT NULL,
  `subtopic_id` int NOT NULL,
  `subtopic_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`topic_id`,`subtopic_id`),
  CONSTRAINT `elementary_subtopic_ibfk_1` FOREIGN KEY (`topic_id`) REFERENCES `elementary` (`topic_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `elementary_subtopic`
--

LOCK TABLES `elementary_subtopic` WRITE;
/*!40000 ALTER TABLE `elementary_subtopic` DISABLE KEYS */;
/*!40000 ALTER TABLE `elementary_subtopic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expenses`
--

DROP TABLE IF EXISTS `expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `expenses` (
  `expense_id` int NOT NULL AUTO_INCREMENT,
  `expense_date` date NOT NULL,
  `expense_name` varchar(255) NOT NULL,
  `hours` decimal(6,2) DEFAULT NULL,
  `rounded_income` decimal(10,2) NOT NULL,
  `deduction_amount` decimal(10,2) NOT NULL,
  `final_income` decimal(10,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`expense_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expenses`
--

LOCK TABLES `expenses` WRITE;
/*!40000 ALTER TABLE `expenses` DISABLE KEYS */;
INSERT INTO `expenses` VALUES (1,'2026-03-22','MA class',2.00,2000.00,100.00,1900.00,'2026-03-20 20:52:02');
/*!40000 ALTER TABLE `expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `home_income`
--

DROP TABLE IF EXISTS `home_income`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `home_income` (
  `id` int NOT NULL AUTO_INCREMENT,
  `class_date` date NOT NULL,
  `course_id` int NOT NULL,
  `present_count` int NOT NULL,
  `rate` decimal(10,2) NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_home` (`class_date`,`course_id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `home_income`
--

LOCK TABLES `home_income` WRITE;
/*!40000 ALTER TABLE `home_income` DISABLE KEYS */;
INSERT INTO `home_income` VALUES (1,'2026-02-28',4,6,15.00,90.00),(2,'2026-02-21',4,6,15.00,90.00),(3,'2026-02-26',4,6,15.00,90.00),(4,'2026-03-02',4,4,15.00,60.00),(5,'2026-03-03',4,5,15.00,75.00),(6,'2026-01-06',9,4,15.00,60.00),(7,'2026-01-13',9,4,15.00,60.00),(8,'2026-01-20',9,4,15.00,60.00),(9,'2026-01-27',9,4,15.00,60.00),(10,'2026-01-06',4,7,15.00,105.00),(11,'2026-01-13',4,6,15.00,90.00),(12,'2026-01-20',4,7,15.00,105.00),(13,'2026-01-27',4,7,15.00,105.00);
/*!40000 ALTER TABLE `home_income` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `income`
--

DROP TABLE IF EXISTS `income`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `income` (
  `income_id` int NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`income_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `income`
--

LOCK TABLES `income` WRITE;
/*!40000 ALTER TABLE `income` DISABLE KEYS */;
/*!40000 ALTER TABLE `income` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intermediate`
--

DROP TABLE IF EXISTS `intermediate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `intermediate` (
  `topic_id` int NOT NULL AUTO_INCREMENT,
  `topic_name` varchar(100) DEFAULT NULL,
  `topic_order` int DEFAULT NULL,
  PRIMARY KEY (`topic_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intermediate`
--

LOCK TABLES `intermediate` WRITE;
/*!40000 ALTER TABLE `intermediate` DISABLE KEYS */;
INSERT INTO `intermediate` VALUES (1,'Teentaal',1),(2,'Zhaptaal',2);
/*!40000 ALTER TABLE `intermediate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intermediate_sub_subtopic`
--

DROP TABLE IF EXISTS `intermediate_sub_subtopic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `intermediate_sub_subtopic` (
  `topic_id` int NOT NULL,
  `subtopic_id` int NOT NULL,
  `sub_subtopic_id` int NOT NULL,
  `sub_subtopic_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`topic_id`,`subtopic_id`,`sub_subtopic_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intermediate_sub_subtopic`
--

LOCK TABLES `intermediate_sub_subtopic` WRITE;
/*!40000 ALTER TABLE `intermediate_sub_subtopic` DISABLE KEYS */;
/*!40000 ALTER TABLE `intermediate_sub_subtopic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intermediate_subtopic`
--

DROP TABLE IF EXISTS `intermediate_subtopic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `intermediate_subtopic` (
  `topic_id` int NOT NULL,
  `subtopic_id` int NOT NULL,
  `subtopic_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`topic_id`,`subtopic_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intermediate_subtopic`
--

LOCK TABLES `intermediate_subtopic` WRITE;
/*!40000 ALTER TABLE `intermediate_subtopic` DISABLE KEYS */;
INSERT INTO `intermediate_subtopic` VALUES (1,1,'tatkar'),(1,2,'baant'),(1,3,'rangmanch pranam'),(1,4,'thaat'),(1,5,'aamad'),(1,6,'simple todas'),(1,7,'chakradaar todas'),(1,8,'chakradaar tihai'),(1,9,'parans'),(1,10,'chakradaar parans'),(1,11,'kavit parans'),(1,12,'gat nikas'),(2,1,'tatkar'),(2,2,'thaat'),(2,3,'aamads'),(2,4,'simple todas'),(2,5,'tihais'),(2,6,'chakradaar todas'),(2,7,'parans');
/*!40000 ALTER TABLE `intermediate_subtopic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `iselin_daily`
--

DROP TABLE IF EXISTS `iselin_daily`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `iselin_daily` (
  `class_date` date NOT NULL,
  `present_heads` int NOT NULL DEFAULT '0',
  `rate` decimal(10,2) NOT NULL DEFAULT '15.00',
  `amount` decimal(12,2) NOT NULL DEFAULT '0.00',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`class_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `iselin_daily`
--

LOCK TABLES `iselin_daily` WRITE;
/*!40000 ALTER TABLE `iselin_daily` DISABLE KEYS */;
INSERT INTO `iselin_daily` VALUES ('2026-02-20',3,15.00,45.00,'2026-02-21 05:18:01'),('2026-02-21',7,15.00,105.00,'2026-02-21 05:18:01');
/*!40000 ALTER TABLE `iselin_daily` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `iselin_weekly`
--

DROP TABLE IF EXISTS `iselin_weekly`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `iselin_weekly` (
  `id` int NOT NULL AUTO_INCREMENT,
  `period_start` date NOT NULL,
  `period_end` date NOT NULL,
  `week_no` int NOT NULL,
  `week_start` date NOT NULL,
  `week_end` date NOT NULL,
  `total_heads` int NOT NULL DEFAULT '0',
  `rate` decimal(10,2) NOT NULL DEFAULT '15.00',
  `total_amount` decimal(12,2) NOT NULL DEFAULT '0.00',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_week` (`period_start`,`period_end`,`week_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `iselin_weekly`
--

LOCK TABLES `iselin_weekly` WRITE;
/*!40000 ALTER TABLE `iselin_weekly` DISABLE KEYS */;
/*!40000 ALTER TABLE `iselin_weekly` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `makeup`
--

DROP TABLE IF EXISTS `makeup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `makeup` (
  `student_id` int NOT NULL,
  `course_id` int NOT NULL,
  `branch_id` int NOT NULL,
  `class_date` date NOT NULL,
  `day` varchar(10) NOT NULL,
  `status` char(1) NOT NULL DEFAULT 'A',
  `comment` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `makeup`
--

LOCK TABLES `makeup` WRITE;
/*!40000 ALTER TABLE `makeup` DISABLE KEYS */;
/*!40000 ALTER TABLE `makeup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `makeup_counter`
--

DROP TABLE IF EXISTS `makeup_counter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `makeup_counter` (
  `student_id` int NOT NULL,
  `course_id` int NOT NULL,
  `branch_id` int NOT NULL,
  `absent_count` int NOT NULL DEFAULT '0',
  `last_absent_date` date DEFAULT NULL,
  PRIMARY KEY (`student_id`,`course_id`,`branch_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `makeup_counter`
--

LOCK TABLES `makeup_counter` WRITE;
/*!40000 ALTER TABLE `makeup_counter` DISABLE KEYS */;
/*!40000 ALTER TABLE `makeup_counter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `month_end_summary`
--

DROP TABLE IF EXISTS `month_end_summary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `month_end_summary` (
  `summary_id` int NOT NULL AUTO_INCREMENT,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `temple_total` decimal(10,2) NOT NULL DEFAULT '0.00',
  `home_total` decimal(10,2) NOT NULL DEFAULT '0.00',
  `academy_total` decimal(10,2) NOT NULL DEFAULT '0.00',
  `online_total` decimal(10,2) NOT NULL DEFAULT '0.00',
  `grand_total` decimal(10,2) NOT NULL DEFAULT '0.00',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`summary_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `month_end_summary`
--

LOCK TABLES `month_end_summary` WRITE;
/*!40000 ALTER TABLE `month_end_summary` DISABLE KEYS */;
INSERT INTO `month_end_summary` VALUES (1,'2026-01-01','2026-01-31',720.00,645.00,990.00,100.00,2455.00,'2026-03-12 21:21:48');
/*!40000 ALTER TABLE `month_end_summary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notes`
--

DROP TABLE IF EXISTS `notes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notes` (
  `note_id` int NOT NULL AUTO_INCREMENT,
  `note_text` text NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`note_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notes`
--

LOCK TABLES `notes` WRITE;
/*!40000 ALTER TABLE `notes` DISABLE KEYS */;
INSERT INTO `notes` VALUES (1,'give shriya thread','2026-02-21 18:33:22'),(2,'shriya need to pay fees','2026-02-21 18:47:09');
/*!40000 ALTER TABLE `notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `online_income`
--

DROP TABLE IF EXISTS `online_income`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `online_income` (
  `income_id` int NOT NULL AUTO_INCREMENT,
  `class_date` date NOT NULL,
  `day_name` varchar(10) NOT NULL,
  `slot_no` int NOT NULL,
  `from_time` time DEFAULT NULL,
  `to_time` time DEFAULT NULL,
  `hours` decimal(6,2) NOT NULL,
  `rate` decimal(10,2) NOT NULL,
  `line_total` decimal(10,2) NOT NULL,
  PRIMARY KEY (`income_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `online_income`
--

LOCK TABLES `online_income` WRITE;
/*!40000 ALTER TABLE `online_income` DISABLE KEYS */;
INSERT INTO `online_income` VALUES (1,'2026-01-30','Fri',1,NULL,NULL,2.00,20.00,40.00),(2,'2026-01-10','Sat',1,NULL,NULL,1.00,20.00,20.00),(3,'2026-01-17','Sat',1,NULL,NULL,1.00,20.00,20.00),(4,'2026-01-24','Sat',1,NULL,NULL,1.00,20.00,20.00);
/*!40000 ALTER TABLE `online_income` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parichay`
--

DROP TABLE IF EXISTS `parichay`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parichay` (
  `topic_id` int NOT NULL AUTO_INCREMENT,
  `topic_name` varchar(100) DEFAULT NULL,
  `topic_order` int DEFAULT NULL,
  PRIMARY KEY (`topic_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parichay`
--

LOCK TABLES `parichay` WRITE;
/*!40000 ALTER TABLE `parichay` DISABLE KEYS */;
INSERT INTO `parichay` VALUES (1,'Chakri',1),(2,'Tatkar',2),(3,'Hastaks',3),(4,'Grammar- Paadabheds',4),(5,'Grammar- Greevabheds',5),(6,'Grammar- Shirobheds',6),(7,'Theka',7),(8,'Shloka',8),(9,'Tihai',9);
/*!40000 ALTER TABLE `parichay` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parichay_subtopic`
--

DROP TABLE IF EXISTS `parichay_subtopic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parichay_subtopic` (
  `topic_id` int NOT NULL,
  `subtopic_id` int NOT NULL,
  `subtopic_name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`topic_id`,`subtopic_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parichay_subtopic`
--

LOCK TABLES `parichay_subtopic` WRITE;
/*!40000 ALTER TABLE `parichay_subtopic` DISABLE KEYS */;
/*!40000 ALTER TABLE `parichay_subtopic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prarambhik`
--

DROP TABLE IF EXISTS `prarambhik`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prarambhik` (
  `topic_id` int NOT NULL AUTO_INCREMENT,
  `topic_name` varchar(100) DEFAULT NULL,
  `topic_order` int DEFAULT NULL,
  PRIMARY KEY (`topic_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prarambhik`
--

LOCK TABLES `prarambhik` WRITE;
/*!40000 ALTER TABLE `prarambhik` DISABLE KEYS */;
INSERT INTO `prarambhik` VALUES (1,'Tatkar',1),(2,'Tihai',2),(3,'Simple Todas',3),(4,'Chakradhar Todas',4),(5,'Pooja Dance',5);
/*!40000 ALTER TABLE `prarambhik` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prarambhik_subtopic`
--

DROP TABLE IF EXISTS `prarambhik_subtopic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prarambhik_subtopic` (
  `topic_id` int NOT NULL,
  `subtopic_id` int NOT NULL,
  `subtopic_name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`topic_id`,`subtopic_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prarambhik_subtopic`
--

LOCK TABLES `prarambhik_subtopic` WRITE;
/*!40000 ALTER TABLE `prarambhik_subtopic` DISABLE KEYS */;
INSERT INTO `prarambhik_subtopic` VALUES (1,1,'thah'),(1,2,'dugun'),(1,3,'chaugun'),(1,4,'variation 1'),(1,5,'variation 2'),(1,6,'variation 3'),(1,7,'tihai'),(2,1,'tihai 1'),(2,2,'tihai 2'),(3,1,'simple toda 1'),(3,2,'simple toda 2'),(3,3,'simple toda 3'),(3,4,'simple toda 4'),(3,5,'simple toda 5'),(3,6,'simple toda 6'),(3,7,'simple toda 7'),(3,8,'simple toda 8'),(4,1,'chakradaar toda 1'),(4,2,'chakradaar toda 2'),(4,3,'chakradaar toda 3'),(4,4,'chakradaar toda 4'),(5,1,'pooja dance');
/*!40000 ALTER TABLE `prarambhik_subtopic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pre_diploma`
--

DROP TABLE IF EXISTS `pre_diploma`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pre_diploma` (
  `topic_id` int NOT NULL AUTO_INCREMENT,
  `topic_name` varchar(200) NOT NULL,
  PRIMARY KEY (`topic_id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pre_diploma`
--

LOCK TABLES `pre_diploma` WRITE;
/*!40000 ALTER TABLE `pre_diploma` DISABLE KEYS */;
/*!40000 ALTER TABLE `pre_diploma` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `provision`
--

DROP TABLE IF EXISTS `provision`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `provision` (
  `provision_id` int NOT NULL AUTO_INCREMENT,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `total_month_end_amount` decimal(12,2) NOT NULL,
  `rounded_amount` decimal(12,2) NOT NULL,
  `provision_amount` decimal(12,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`provision_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `provision`
--

LOCK TABLES `provision` WRITE;
/*!40000 ALTER TABLE `provision` DISABLE KEYS */;
INSERT INTO `provision` VALUES (1,'2026-01-01','2026-01-31',2455.00,2000.00,455.00,'2026-03-12 21:22:12');
/*!40000 ALTER TABLE `provision` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student`
--

DROP TABLE IF EXISTS `student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student` (
  `student_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) DEFAULT NULL,
  `DOB` date DEFAULT NULL,
  `date_joined` date DEFAULT NULL,
  `branch_id` int DEFAULT NULL,
  `days` varchar(50) DEFAULT NULL,
  `class_mode` varchar(20) DEFAULT NULL,
  `course_id` int NOT NULL,
  PRIMARY KEY (`student_id`),
  KEY `branch_id` (`branch_id`),
  KEY `fk_student_course` (`course_id`),
  CONSTRAINT `fk_student_course` FOREIGN KEY (`course_id`) REFERENCES `course` (`course_id`),
  CONSTRAINT `student_ibfk_1` FOREIGN KEY (`branch_id`) REFERENCES `branch` (`branch_id`)
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student`
--

LOCK TABLES `student` WRITE;
/*!40000 ALTER TABLE `student` DISABLE KEYS */;
/*!40000 ALTER TABLE `student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_progress`
--

DROP TABLE IF EXISTS `student_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_progress` (
  `progress_id` int NOT NULL AUTO_INCREMENT,
  `progress_date` date NOT NULL,
  `course_id` int NOT NULL,
  `student_id` int NOT NULL,
  `status` varchar(20) DEFAULT NULL,
  `comments` varchar(500) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`progress_id`),
  KEY `course_id` (`course_id`),
  KEY `student_id` (`student_id`),
  CONSTRAINT `student_progress_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `course` (`course_id`),
  CONSTRAINT `student_progress_ibfk_2` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_progress`
--

LOCK TABLES `student_progress` WRITE;
/*!40000 ALTER TABLE `student_progress` DISABLE KEYS */;
INSERT INTO `student_progress` VALUES (1,'2026-04-03',1,8,'Pass','exam','2026-04-03 15:06:28');
/*!40000 ALTER TABLE `student_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studentprogress`
--

DROP TABLE IF EXISTS `studentprogress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `studentprogress` (
  `progress_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int DEFAULT NULL,
  `course_id` int DEFAULT NULL,
  `exam_date` date DEFAULT NULL,
  `exam_result` varchar(20) DEFAULT NULL,
  `current_status` varchar(20) DEFAULT NULL,
  `last_updated` date DEFAULT NULL,
  PRIMARY KEY (`progress_id`),
  KEY `student_id` (`student_id`),
  KEY `course_id` (`course_id`),
  CONSTRAINT `studentprogress_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`),
  CONSTRAINT `studentprogress_ibfk_2` FOREIGN KEY (`course_id`) REFERENCES `course` (`course_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studentprogress`
--

LOCK TABLES `studentprogress` WRITE;
/*!40000 ALTER TABLE `studentprogress` DISABLE KEYS */;
/*!40000 ALTER TABLE `studentprogress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sub_topic`
--

DROP TABLE IF EXISTS `sub_topic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sub_topic` (
  `topic_id` int NOT NULL,
  `subtopic_id` int NOT NULL,
  `subtopic_name` varchar(200) NOT NULL,
  PRIMARY KEY (`topic_id`,`subtopic_id`),
  CONSTRAINT `sub_topic_ibfk_1` FOREIGN KEY (`topic_id`) REFERENCES `pre_diploma` (`topic_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sub_topic`
--

LOCK TABLES `sub_topic` WRITE;
/*!40000 ALTER TABLE `sub_topic` DISABLE KEYS */;
/*!40000 ALTER TABLE `sub_topic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subtopic`
--

DROP TABLE IF EXISTS `subtopic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subtopic` (
  `topic_id` int NOT NULL,
  `subtopic_no` int NOT NULL,
  `subtopic_name` varchar(200) DEFAULT NULL,
  `description` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`topic_id`,`subtopic_no`),
  CONSTRAINT `subtopic_ibfk_1` FOREIGN KEY (`topic_id`) REFERENCES `topic` (`topic_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subtopic`
--

LOCK TABLES `subtopic` WRITE;
/*!40000 ALTER TABLE `subtopic` DISABLE KEYS */;
/*!40000 ALTER TABLE `subtopic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teacher`
--

DROP TABLE IF EXISTS `teacher`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teacher` (
  `teacher_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) DEFAULT NULL,
  `address` varchar(200) DEFAULT NULL,
  `type` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`teacher_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teacher`
--

LOCK TABLES `teacher` WRITE;
/*!40000 ALTER TABLE `teacher` DISABLE KEYS */;
INSERT INTO `teacher` VALUES (1,'mayuri','207 rivington street','primary'),(2,'Shriya Iyer','207 rivington street','Secondary'),(3,'shivani iyer','207 rivington street','Secondary');
/*!40000 ALTER TABLE `teacher` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `temple_income`
--

DROP TABLE IF EXISTS `temple_income`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `temple_income` (
  `id` int NOT NULL AUTO_INCREMENT,
  `class_date` date NOT NULL,
  `course_id` int NOT NULL,
  `present_count` int NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `rate` decimal(10,2) NOT NULL DEFAULT '15.00',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_temple` (`class_date`,`course_id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `temple_income`
--

LOCK TABLES `temple_income` WRITE;
/*!40000 ALTER TABLE `temple_income` DISABLE KEYS */;
/*!40000 ALTER TABLE `temple_income` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `topic`
--

DROP TABLE IF EXISTS `topic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `topic` (
  `topic_id` int NOT NULL AUTO_INCREMENT,
  `course_id` int DEFAULT NULL,
  `taal_name` varchar(200) DEFAULT NULL,
  `topic_order` int DEFAULT NULL,
  PRIMARY KEY (`topic_id`),
  UNIQUE KEY `unique_course_taal` (`course_id`,`taal_name`),
  CONSTRAINT `topic_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `course` (`course_id`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `topic`
--

LOCK TABLES `topic` WRITE;
/*!40000 ALTER TABLE `topic` DISABLE KEYS */;
INSERT INTO `topic` VALUES (17,2,'Tatkar',1),(18,2,'Tihai',2),(19,2,'Simple Todas',3),(20,2,'Chakradhar Todas',4),(21,2,'Pooja Dance',5),(30,1,'Chakri',1),(31,1,'Tatkar',2),(32,1,'Hastaks',3),(33,1,'Grammar- Paadabheds',4),(34,1,'Grammar- Greevabheds',5),(35,1,'Grammar- Shirobheds',6),(36,1,'Theka',7),(37,1,'Shloka',8);
/*!40000 ALTER TABLE `topic` ENABLE KEYS */;
UNLOCK TABLES;
SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-27 19:27:52
